<style>
    body { margin: 0; }
</style>

<canvas width=640 height=480 style="float: left"></canvas>

<button onclick="localStorage.clear(); location.reload(); return false">Clear</button>

<div style="display: none;">
    <img src="art/tiles/1.png" name="tiles" data-slice="grid 64 64" data-offset="32 48">

    <img src="art/action_buttons.png" name="ability" data-slice="grid 40 40" data-alias="heal tank axe protect facing _ empty _ _ bow move fireball poison _ staff _">

    <img src="art/human_red.png"     name="human_red"     data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">
    <img src="art/human_green.png"   name="human_green"   data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">
    <img src="art/human_purple.png"  name="human_purple"  data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">
    <img src="art/human_blue.png"    name="human_blue"    data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">
    <img src="art/goblin_red.png"    name="goblin_red"    data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">
    <img src="art/goblin_green.png"  name="goblin_green"  data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">
    <img src="art/goblin_purple.png" name="goblin_purple" data-slice="grid 64 64" data-offset="32 48" data-alias="sw.idle sw.walk1 sw.walk2 sw.cast sw.shoot se.idle se.walk1 se.walk2 se.cast se.shoot ne.idle ne.walk1 ne.walk2 ne.cast ne.shoot nw.idle nw.walk1 nw.walk2 nw.cast nw.shoot">

    <img src="art/portraits.png"     name="portrait"      data-slice="grid 64 64" data-offset="0 0" data-alias="human_red human_green human_purple human_blue goblin_red goblin_green goblin_purple">

</div>

<script src="dist/client.js"></script>
